<h3 class="card-title">{{ thing.name }}</h3>
<p class="card-text"><i>{{ thing.description }}</i></p>

{% for p in thing.objecthasprinciple_set.all %}
    {% if p.principle.image %}
    <h2 class="card-text"><img src="{{ p.principle.image.url }}" style="max-width: 20%" alt="{{ p.principle.name }}">{{ p.qty }}<h2>
    {% else %}
    <h2 class="card-text">{{ p.principle.name }} {{ p.qty }}</h2>
    {% endif %}
{% endfor %}

{% for label in thing.aspects.all %}
    {% if label.image %}
    <h2 class="card-text"><img src="{{ label.image.url }}" style="max-width: 15%" alt="image of {{ label.name }}"></h2>
    {% endif %}
{% endfor %}